@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --poppins-font: font-family: "Poppins", sans-serif;
    --primary-color: #FF3F42;
    --secondary-color: #0b4b78;
    --hov-button-color: #2BB7EA
}

;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont {
    max-width: 1200px;
    width: 100%;
}

/* announcement bar */
.announce {
    text-align: center;
    text-transform: uppercase;

    background: green;
    color: white;
    font-size: 1rem;
}

.announce h4 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;
}

#header {
    display: flex;
    justify-content: space-between;
}

.btn_header {
    background: #FF3F42;
    border: none !important;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 10px 30px 13px 30px;
}

.top_banner_button {
    display: flex;
}

.btn_header:hover {
    background: #2BB6EE;
}

/* Responsiveness for tablets and smaller devices */

/* hero banner srart */
.hero_banner {
    background-image: url(./img/6.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}

.hero_banner::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.377);
    top: 0;
    left: 0;


}

.aa {
    padding-top: 7rem;
    padding-bottom: 7rem;
    line-height: 8px;
    position: relative;
    z-index: 11;
}

.aa h3 {
    margin-bottom: 20px;
}


.hero_banner h1 {
    font-size: 3.5rem;
    font-weight: bold;
    padding-right: 50px;
}

.hero_banner h3 {
    font-size: 2rem;
    font-weight: bold;
}

.banner_button.py-3 {
    padding-bottom: 20px !important;
    padding-top: 20px !important;

}

.pop p {
    text-align: justify;
}


.banner_button {
    background: var(--primary-color);
    padding: 15px 30px;
    border: 0;
    font-weight: bold;
    color: white;
    border-radius: 30px;
}

.banner_button:hover {
    background: var(--secondary-color)
}

/* hero banner end */
.first_section {
    display: flex;
}

.mmk {
    width: 50%;
}

.mmk.pop {
    display: flex;
    align-items: center;
    margin-left: 51px;
}

.pop {
    margin-right: 10px;
    color: var(--secondary-color);
}

.pop h3 {
    font-size: 1rem;
    font-weight: bold;
}

.popp {
    margin-left: 10px;
}

.img_hero {
    /* max-width: 100%; */
}



.uty {
    width: 10px;
    height: 10px;
}



/* sec-3 */
.grid_items {
    max-width: 380px;
    width: 100%;
    border: 1px solid #bdbcc0f2;
    box-shadow: 9px 3px 24px 8px #b9b8b89c;
    margin: 0 auto;
    color: var(--secondary-color);
    padding: 23px 16px;
}

.grid_container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

/* sec-3 end */
.first_section.jjj {
    flex-direction: row-reverse;
}

.mmk.pop.yyt {
    margin-left: 0;
}

.section_med {
    background: #F5F5F5;
}

.last_img {
    width: 40px;
    height: 40px;
}

.main_last_sec {
    display: flex;
    color: var(--secondary-color);
}

.conttt {
    max-width: 900px;
    width: 100%;
}

.col.border-start.border-top.border-end.border-dark.d-flex.justify-content-center {
    border-radius: 20px 20px 0px 0px;
}

.col.border-start.border-end.border-bottom.border-dark.d-flex.justify-content-center {
    border-radius: 1px 0px 20px 20px;
}

.eeew {
    border: 0px !important;
}

.eer {
    width: 119px;
  }
  .vv{
    font-size: 1.5rem;
  }




@media (max-width: 766px) {
    .ytr {
        background: green;
        font-weight: bold;
        font-size: 10px !important;
    }

    .btn_header {
        font-size: 0.7rem;
        padding: 7px 9px 10px 11px;
      }
    

    #header {
        margin-left: 20px;
        margin-right: 20px;
    }

    .hero_banner h1 {
        font-size: 1.7rem;
    }

    .hero_banner h3 {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 20px;
    }

    .aa h1 {
        text-align: center;
        padding-left: 10px;
        padding-right: 20px;
    }

    .bb {
        text-align: center;
        line-height: 4px;
    }

    .first_section {
        flex-direction: column-reverse;
    }

    .mmk {
        width: 100%;
    }

    .mmk.pop {
        margin-left: 20px;
        margin-right: 20px;
        text-align: justify;
    }

    .top_banner_button {
        justify-content: center;
        padding-top: 20px;
    }

    .banner_button {
        padding-bottom: 15px;
        padding-top: 12px;
    }

    .sec_3_para {
        margin-left: -7px;
        margin-right: 32px;
    }

    .fs-5 {
        font-size: 1rem !important;
    }

    .grid_container {
        grid-template-columns: auto auto;
        padding-right: 10px;
        padding-left: 10px;
    }
    .dis {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
      }
      .first_section.jjj {
        flex-direction: column-reverse;
        align-items: center;
      }
      .eer {
        width: 78px;
      }
      .fw-bold {
        font-size: 13px !important;
      }
    }